/* content*/

.content {
  grid-area: content;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.col-larga {
  grid-column: 1 / -1;
}

.imagem-destaque {
  grid-row: span 2;
  align-self: end;
}

/* estilizacao conteudo */

p {
  color: var(--cor-05);
  font: var(--font-G);
  letter-spacing: -0.005em;
}

.informacoes p + p {
  margin-top: 2rem;
}

.titulo {
  color: var(--cor-p2);
}

.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font: var(--font-pp-i);
}

/* caracteristicas */

.caracteristicas {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.caracteristica {
  width: 5rem;
  text-align: center;
  background: linear-gradient(135deg, var(--cor-p1), var(--cor-p2));
  border-radius: 0.375rem;
  box-shadow: 0.375rem 0.375rem 1rem 0 var(--cor-03);
  position: relative;
}

.caracteristica span {
  display: block;
  color: var(--cor-p2);
}

.valor {
  font-size: 3rem;
  line-height: 1;
  margin: 0.625rem auto;
  font: var(--font-XG);
}

.rotulo {
  background-color: var(--cor-00);
  border-radius: 0 0 0.375rem 0.375rem;
  padding: 0.375rem 0;
  position: relative;
  top: 0.125rem;
}

.destaque {
  color: var(--cor-p2);
  max-width: 16rem;
  font: var(--font-pp);
}

.citacao,
.atributos {
  align-self: start;
  padding: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0.375rem 0.375rem 1rem 0 var(--cor-02);
  background: linear-gradient(135deg, var(--cor-p1), var(--cor-p2));
}

.citacao p {
  color: var(--cor-00);
  text-align: center;
  max-width: 31.25rem;
  margin: 0 auto;
  font: var(--font-GG);
}

.atributos li {
  color: var(--cor-00);
  padding: 1rem;
  font: var(--font-m-mono);
}

.atributos li + li {
  border-top: 0.125rem solid var(--cor-p2);
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}
