/*header*/
.estrutura .header {
  grid-area: header;
}
.header {
  background: linear-gradient(135deg, var(--cor-p1), var(--cor-p2));
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 12.5rem;
}

.header nav menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header nav menu a {
  display: block;
  padding: 0.625rem;
  color: var(--cor-00);
  background: var(--cor-02);
  border-radius: 0.375rem;
  transition: 0.2s;
  font: var(--font-m);
}
.header nav menu a:hover {
  background: var(--cor-p1);
}

.arrow-white {
  background: url(../../img/arrow-white.svg) no-repeat center center;
  display: inline-block;
  width: 8px;
  height: 10px;
}

@media (max-width: 47rem) {
  .header {
    grid-template-columns: auto;
    gap: 2rem;
  }

  .header nav menu {
    gap: 0.5rem;
  }

  .header nav menu a {
    font: var(--font-p);
  }
}
