.introducao {
  background-color: #faf6ed;
  color: var(--cor-02);
  -webkit-font-smoothing: antialiased;
}

.introducao .grid-container {
  display: grid;
  grid-template-columns: 1fr 130px minmax(300px, 800px) 1fr;
}

.introducao .header {
  grid-column: 1 / 7;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 32px 120px;
  margin-bottom: 4rem;
}

.introducao .titulo {
  margin: 1rem 0;
  grid-column: 1 / 4;
}
.introducao .titulo h1 {
  font-size: 6rem;
  max-width: 30ch;
}

.introducao .titulo span {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cor-p1);
}

.introducao .footer {
  grid-column: 1 / 7;
}

@media (max-width: 900px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .header,
  .grid-section,
  .footer {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 300px 1fr;
    gap: 10px;
  }

  .introducao .titulo h1 {
    font-size: 3rem;
    max-width: 10ch;
  }
}

@media (max-width: 500px) {
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
}
